<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento via Boleto Bancário</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <header>
        
        <!-- <h1>Somando Sabores</h1> -->

        <a href="" id="logo"><img src = "/view/images/logo.png" id="imageLogo"></a>

		<button id="openMenu">&#9776;</button>

		<!-- Agrupa links de navegação no site. -->
		<nav id="menu">

			<button id="closeMenu">X</button>

			<a href="../index/index.html"><strong>Home</strong></a>
			<a href="#"><strong>About</strong></a>
			<a href="#"><strong>Products</strong></a>
			<a href=""><strong>Contact</strong></a>
		</nav>
    </header>
    <div class="container">
        <div class="payment-method">
            <img src="/view/images/boleto.png" alt="Boleto Bancário">
            <h3>Pagamento via Boleto Bancário</h3>
        </div>
        <div class="details">
            <p>Para realizar o pagamento via Boleto Bancário, utilize o código de barras abaixo.</p>
            <img src="/view/images/barcode.png" alt="Código de Barras do Boleto Bancário">
            <p>Ou copie o código abaixo:</p>
            <p><strong>Código do Boleto:</strong> 23792.12345 67890.123456 78901.234567 8 12340000000000</p>
            <a href="/view/PagPaymentMethod/confirmation.html"><button type="submit">Finalizar</button></a>
            
        </div>
    </div>
</body>
</html>
