<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagamento via Cartão de Crédito</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <header>
         
        <!-- <h1>Somando Sabores</h1> -->

        <a href="" id="logo"><img src = "/view/images/logo.png" id="imageLogo"></a>

		<button id="openMenu">&#9776;</button>

		<!-- Agrupa links de navegação no site. -->
		<nav id="menu">

			<button id="closeMenu">X</button>

			<a href="../index/index.html"><strong>Home</strong></a>
			<a href="#"><strong>About</strong></a>
			<a href="#"><strong>Products</strong></a>
			<a href=""><strong>Contact</strong></a>
		</nav>
    </header>
    <div class="container">
        <div class="payment-method">
            <img src="/view/images/credito.png" alt="Cartão de Crédito">
            <h3>Pagamento via Cartão de Crédito</h3>
        </div>
        <div class="cartao-details">
            <form action="#" method="POST">
                <div class="form-group">
                    <label for="card-number">Número do Cartão:</label>
                    <input type="text" id="card-number" name="card-number" required>
                </div>
                <div class="form-group">
                    <label for="card-name">Nome no Cartão:</label>
                    <input type="text" id="card-name" name="card-name" required>
                </div>
                <div class="form-group">
                    <label for="card-expiry">Validade:</label>
                    <input type="text" id="card-expiry" name="card-expiry" placeholder="MM/AA" required>
                </div>
                <div class="form-group">
                    <label for="card-cvv">CVV:</label>
                    <input type="text" id="card-cvv" name="card-cvv" required>
                </div>
                <a href="/view/PagPaymentMethod/confirmation.html"> <button type="submit">Pagar</button></a>
               
            </form>
        </div>
    </div>
</body>
</html>
