* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IM Fell English", serif;
    background-color: #F3EAAF;
    color: #000;
    min-height: 100vh;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #730001;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

header img {
    width: 150px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #F3EAAF;
}
.main-content {
    margin: 100px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}
.voltar{
    margin-right: 10px;
    background-color: #ffffff;
    color: #730001;
    font-family: "IM Fell English", serif;
    padding: 10px 20px;
    border:1px solid #730001 ;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start;
}
.reserva-novo{
    margin-left: 10px;
    background-color: #730001;
    color: #fff;
    font-family: "IM Fell English", serif;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start;
}
.img-confirmacao{
    margin: 100px auto;
    align-items: center;
    max-width: 100px;
    height: auto;
}
hr {
    
    width: 30%;
    height: 1px;
    background-color: #730001;
    border: none;
    margin: 5px auto 30px;
}

