<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header class="registro" hideToggle>
            <div class="circle-box">
                <mat-icon class="circle">expand_more</mat-icon>
            </div>
            <section class="texto">
                <div class="titulos">
                    <span>Responsável</span>
                    <span>E-mail</span>
                    <span>Qtd. Convidados</span>
                    <span>Data</span>
                </div>
                <div class="data">
                    <input id="responsavel" 
                            [(ngModel)]="localReserva.nome" 
                            [readonly]="!modoEdicao" 
                            (click)="$event.stopPropagation()"
                            (keydown.space)="$event.stopImmediatePropagation()"
                            />
                    <input id="email"
                            [(ngModel)]="localReserva.email"
                            [readonly]="!modoEdicao"
                            (click)="$event.stopPropagation()"
                            (keydown.space)="$event.stopImmediatePropagation()"
                            />
                    <input id="qtdConvidados"
                            [(ngModel)]="localReserva.qtdConvidados"
                            [readonly]="!modoEdicao"
                            (click)="$event.stopPropagation()"
                            (keydown.space)="$event.stopImmediatePropagation()"
                            />
                    <input id="dataReserva"
                            [(ngModel)]="localReserva.dataReserva"
                            [readonly]="!modoEdicao"
                            (click)="$event.stopPropagation()"
                            (keydown.space)="$event.stopImmediatePropagation()"
                            />
                </div>
            </section>
            <div class="icons">
                <mat-icon *ngIf="!modoEdicao" (click)="onEditarClick()">edit</mat-icon>
                <mat-icon *ngIf="modoEdicao" (click)="onSalvarClick()">check</mat-icon>
                <mat-icon id="delete" *ngIf="!modoEdicao" (click)="onDeletarClick()">delete_outline</mat-icon>
            </div>
        </mat-expansion-panel-header>
    <div class="convidados-data" *ngFor="let nome of localReserva.nomesConvidados">
        <mat-icon>person</mat-icon>
        <span>Convidado(a)</span>
        <span>{{ nome }}</span>
    </div>
    </mat-expansion-panel>
</mat-accordion>