<section class="admin-bg">
    <img id="bg" src="admin-bg2.png"/>
    <div class="login-form">
        <img src="admin-container2.png" id="bg-container"/>
        <form class="form">
            <h1>Login</h1>
            <p class="texto">Usuário</p>
            <mat-form-field appearance="fill" id="usuario" class="input-box">
                <input matInput>
                <mat-icon matPrefix>person</mat-icon>
            </mat-form-field>
            <p class="texto">Senha</p>
            <mat-form-field appearance="fill" class="input-box">
                <input matInput>
                <mat-icon matPrefix>lock</mat-icon>
            </mat-form-field>
            <a href="" id="e-senha">Esqueceu a senha?</a>
            <button id="entrar-btn" mat-raised-button>Entrar</button>
        </form>
    </div>
</section>

