@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

#bg{
    width: 100%;
    height: auto;
    position: fixed;
    filter: brightness(30%)
}

.admin-bg{
    width: 100%;
    height: 100%;
    display: flex;
}

.login-form{
    width: 55%;
    height: 68%;
    background-color: rgba(15, 38, 20, 85%);    
    position:relative;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

#bg-container{
    filter: brightness(65%);
    flex: 1;
    max-width: 100%;
    height: 100%;
    display: block;
}

.img-bg{
    width: 50%;
    height: 100%;
}

.form{
    width: 35%;
    height: 90%;
    margin: auto;
}

h1{
    color:#fff;
    font-family: 'IM Fell English', 'serif';
    font-size: 1.9em;
    margin-bottom: 5.75vh;
    text-align: center;
}

.texto{
    color:#fff;
    font-family: 'IM Fell English', 'serif';
    font-size: 0.9em;
    margin-bottom: 1vh;
}

#e-senha{
    color:#fff;
    font-family: 'IM Fell English', 'serif';
    font-size: 0.8em;
    text-align: right;
    margin:0;
    padding: 0;
    display: block;
    text-decoration: none;
}

/* INPUT */
.input-box{
    display: flex;
}

::ng-deep .mat-mdc-text-field-wrapper {
    border-style: none;
    background-color: #fff !important;
    border-radius: 10px !important;
    height: 4.5vh !important;
    width: 100% !important;
    padding:0 !important;
}

::ng-deep .mat-mdc-input-element, .mat-mdc-form-field-input-control, .mdc-text-field__input, .cdk-text-field-autofill-monitored{
    padding: 0 !important;
    height: 4.5vh !important;
}

::ng-deep .mat-mdc-form-field-infix{
    padding: 0 !important;
}

::ng-deep .mat-mdc-form-field-flex{
    padding: 0 !important;
    margin: 0 !important;
    display: flex !important;
    width: 95% !important;
}

::ng-deep .mat-mdc-form-field-icon-prefix{
    height: 100%;
    padding-block: 0.5vh !important;
    align-self: auto !important;
}

#entrar-btn{
    background-color: #0F2614;
    width: 100%;
    display: flex;
    margin-inline: auto;
    height: 5.5vh;
    border-style: solid;
    border-width: 0.5px;
    border-color: #fff;
    border-radius: 10px;
    color: #fff;
    margin-top: 25%;
    font-family: 'IM Fell English', 'serif';
    font-size: 0.9em;
}

@media screen and (max-width: 1354px) {
    #bg {
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width: 860px) {
    .login-form{
        width: 75%;
    }

    .img-bg{
        width: 0%;
        height: 0;
    }

    .form{
        width: 75%;
        height: 90%;
        margin: auto;
    }
}