@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

.main{
    display: flex;
}

section{
    width: 85.62vw;
}

header{
    max-width: 95%;
    margin: auto;
    margin-block: 7vh;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

h1 {
    font-family: "IM Fell English", serif;
    font-weight: 400;
    color: #730001;
    font-size: 2.25em;
    margin-bottom: 0;
}

mat-icon{
    color: #730001;
    font-size: 2em;
    width: 2vw;
    height: 4vh;
}

mat-icon:hover{
    cursor:pointer
}

hr{
    background-color: #961718;
    height: 1.5px;
    border: none;
}

.relatorios{
    max-width: 95%;
    margin: auto;
}

iframe{
    height: 70vh;
    width: 81.2vw;
}