<section class="filter-box">
    <div class="border-box">
        <div class="label-input">
            <span id="text-data">Data</span>
            <label for="data_filtro">
                <input type="date" id="data_filtro" alt="filtro de data"/>
            </label>
        </div>
        <div class="label-input">
            <span id="txt-resp">Responsável</span>
            <label for="responsavel">
                <input type="text" id="responsavel" alt="responsavel"/>
            </label>
            <mat-icon>search</mat-icon>
        </div>
    </div>
</section>