<app-header-bar></app-header-bar>


<main class="main-content">
    <div>
        <h2>Reserva concluída!</h2>
        <hr>
        <p>Em breve enviaremos um e-mail de confirmação com os dados de sua reserva.</p>
    </div>
    <img class="img-confirmacao" src="assets/confirmacao.png" alt="confirmação">
    <div>
        <button class="voltar" onclick="window.location.href='/view/index/index.html'">← Voltar para a tela inical</button>
        <button class="reserva-novo" onclick="window.location.href='/view/PagReservas/reservas.html'">Reservar novo Pacote</button>
    </div>
</main>
