@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

.filter-section{
    display: flex;
    max-width: 95%;
    justify-content: end;
    margin-inline: auto;
}

.filter-btn{
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    width: 10.5vw;
    height: 3vh;
    border-style: solid;
    border-width: 0.5px;
    align-items: center;
}

.filter-btn span{
    font-family: 'IM Fell English', 'serif';
    font-weight: 400;
    font-size: 1em;
    padding-left: 10px;
}

.filter-btn:hover{
    cursor:pointer;
}

mat-icon{
    padding-right: 10px;
}