<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cartão de Crédito</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+English" />

  <body>
    <header class="header">
      <img id="logo" src="LOGO.jpeg" />
      <button id ="Home_botao"><a href="home.html" id="Home">Home</a></button>
    </header>

      <h3 id="dados_credito">Insira os dados do Cartão de Crédito</h3>
      <form>
        <input type="text" placeholder="Número do Cartão" id="numero_cartao" />
        <input type="text" placeholder="CVV" id="cvv" />
        <input type="text" placeholder="Nome do Titular do Cartão" id="nome_cartao" />
        <input type="text" placeholder="Validade" id="validade" />
        <input type="text" placeholder="CPF" id="cpf" />
        <h3 id="valor_credito">Crédito à Vista... RS$0,00</h3>
        <button id="Voltar"><a href="metodos_pagamento.html" id="Voltar_link">Voltar</a></button>
        <button id="Concluir_Compra"> <a id="Concluir_Compra_link" href="concluir_compra.html">Concluir Compra</a></button>
      </form>
    </ul>
  </body>
</html>
