<div class="main">
    <app-side-bar></app-side-bar>
    <div class="margem">
        <header>
            <h1>Pagamentos processados</h1>
            <hr/>
            <div class="descricao">
                <span>Identificador</span>
                <span>Responsável pelo pagamento</span>
                <span>Valor</span>
                <span>Data</span>           
            </div>
            <hr/>
        </header>
        <app-filter-results></app-filter-results>
        <div *ngIf="pagamentos.length === 0">
            <p>Nenhum pagamento localizado ainda.</p>
        </div>
        <div *ngFor="let pagamento of pagamentos; trackBy: trackByPagamentoId">
            <app-registro-pagamento [pagamento]="pagamento">
            </app-registro-pagamento>
        </div>
    </div>
</div>

