@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    margin: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #E4DC9E;
}

header, nav, main, aside, footer {
    background: #E4DC9E;
    display: flex;
    margin: 3px;
}

header {
    flex: 1 1 100vw;
}

#imageLogo {
    width: 150%;
    height: auto;
    max-width: 180px;
    max-height: 110px;
    object-fit: contain;
}

header #logo {
    display: flex;
    flex: 90px 1 90px;
    background: #4f494900;
    justify-content: center;
    align-items: center;
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px;
    cursor: pointer;
    display: none;
}

nav {
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 200px;
}

nav a {
    margin: 0 3%;
    font-size: 15pt;
}

main {
    flex: 20 1 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
	font-weight: bold;
	margin-bottom: 5%;
}

#check_produto {
    background-color: rgba(128, 128, 128, 0.8);
    margin: 10px;
    padding: 20px;
}

#check_produto label {
    display: inline-block;
    vertical-align: middle;
}

button {
    width: 100%;
    margin-bottom: 3px;
}

aside {
    flex: 1 1 200px;
}

footer {
    flex: 1 1 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 717px) {
    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }

    nav a {
        margin: 3%;
    }
}

/* Estilos dos botões de incremento e decremento */
.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.product-info {
    display: flex;
	font-weight: bold;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.product-info label {
    flex: 1;
    text-align: left;
    margin-left: 1em;
}

.quantity-controls {
    display: flex;
    align-items: center;
	
}

.quantity-controls button {
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: #00000059;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    color: rgb(0, 0, 0);
}

.quantity-controls input {
    width: 50px;
	height: 30px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 5px;
}

button#voltar {
    display: block;
    margin: 2em auto;
    padding: 10px 20px;
    background-color: #e3d18a;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}

button#voltar:hover {
    background-color: #d1c17d;
}
