@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

.main{
    display: flex;
}

.margem{
    width: 85.62vw;
}

header{
    max-width: 95%;
    margin-inline: auto;
    margin-top: 7vh;
    margin-bottom: 4vh;
}

h1 {
    font-family: "IM Fell English", serif;
    font-weight: 400;
    color: #0F2614;
    font-size: 2.25em;
    margin-bottom: 0;
}

hr{
    background-color: #1C4D26;
    height: 1.5px;
    border: none;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

mat-icon{
    color: #0F2614;
    font-size: 2em;
    width: 2vw;
    height: 4vh;
}

mat-icon:hover{
    cursor:pointer
}
