<div class="main">
    <app-side-bar></app-side-bar>
    <div class="margem">
        <header>
            <div class="title">
                <h1>Reservas</h1>
                <mat-icon>download</mat-icon>
            </div>
            <hr/>
        </header>
        <app-filter-results (filtroChange)="aplicarFiltro($event)"></app-filter-results>
        <div *ngIf="reservas.length === 0">
            <p>Nenhuma reserva cadastrada ainda.</p>
        </div>
        <div *ngFor="let reserva of reservasFiltradas; trackBy: trackByReservaId">
            <app-registro-reserva-v2 
              [reserva]="reserva"
              (atualizarReserva)="onReservaAtualizada($event)"
              (deletarReserva)="onSolicitarExclusao($event)">
            </app-registro-reserva-v2>
        </div>
    </div>
</div>
<div *ngIf="mostrarConfirmacaoExclusao" class="confirmacao-modal">
  <div class="conteudo-modal">
    <p>Tem certeza que deseja excluir esta reserva?</p>
    <div class="btn-section">
      <button (click)="confirmarExclusao()" class="btn danger">Sim</button>
      <button (click)="fecharConfirmacao()" class="btn normal">Não</button>
    </div>
  </div>
</div>

