@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

.main{
    display: flex;
}

.margem{
    width: 85.62vw;
}

header{
    max-width: 95%;
    margin-inline: auto;
    margin-top: 7vh;
    margin-bottom: 5vh;
}

h1 {
    font-family: "IM Fell English", serif;
    font-weight: 400;
    color: #730001;
    font-size: 2.25em;
    margin-bottom: 0;
}

hr{
    background-color: #961718;
    height: 1.5px;
    border: none;
}

.status{
    display: flex;
    justify-content: space-between;
    margin-block: 2.5vh;
}

.legenda, .status-cor{
    border-style: solid;
    border-radius: 5px;
    border-width: 0.5px;
}

.legenda{
    border-color:#000;
    height: 20px;
    width: 150px;
    display: flex;
}

.legenda span{
    font-family: "IM Fell English", serif;
    font-weight: 400; 
    font-size: 0.8em;
    margin: auto;
}

.status-cor{
    width: 50px;
    border-left: #000;
}

#verde{
    background-color: #BEE29A;
}

#amarelo{
    background-color: #F4BB60;
}

#vermelho {
    background-color: #F39C9C;
}