<app-header-bar/>


    <main>
        <section class="eventos">
            <h1>EVENTOS</h1>
            <p class="descricao">
                Quer fazer um evento conosco como jantar de casamentos, confraternizações, almoço pra um grupo de pessoas ou algo relacionado? 
                Envie sua proposta de evento para que nós possamos entrar em contato com você para acertarmos os detalhes!
            </p>
            <h2>Preencha as informações abaixo</h2>
            <form>
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="Seu nome" required>

                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="Seu e-mail" required>

                <label for="data">Data</label>
                <input type="date" id="data" name="data" required>

                <label for="detalhes">Detalhes do evento</label>
                <textarea id="detalhes" name="detalhes" placeholder="Descreva os detalhes do evento" rows="5"></textarea>

                <button type="submit" class="botao-enviar" onclick="window.location.href='/view/PagConfirmacao/proposta.html'">Envie sua proposta</button>
            </form>
        </section>
    </main>
