<app-header-bar />
<section class="cardapio">
    <h1>Cardápio</h1>
    <h2>Lanches</h2>
    <hr>
    <div class="lanches">
        <div class="lanche_item">
            <img src="assets/IMG - 8.png" alt="Bolo de cenoura">
            <p class="nome_item">Bolo de cenoura</p>
        </div>
        <div class="lanche_item">
            <img src="assets/IMG - 9.png" alt="Paleta mexicana">
            <p class="nome_item">Paleta mexicana</p>
        </div>
        <div class="lanche_item">
            <img src="assets/IMG - 1.png" alt="Croissant">
            <p class="nome_item">Croissant</p>
        </div>
        <div class="lanche_item">
            <img src="assets/IMG - 10.png" alt="Pão de queijo">
            <p class="nome_item">Pão de queijo</p>
        </div>
    </div>
    <div class="almoco">
        <h2>Almoço</h2>
        <hr>
        <div class="conteudo">
            <img id="img_principal" src="assets/IMG - 11.png" alt="Prato principal">
            <div class="descricao">
                <p>Almoço + suco + sobremesa por apenas <b>R$39,90</b></p>
                <p>Menu sujeito à disponibilidade conforme o dia. Consulte nosso <a
                        href="https://www.instagram.com/somandosaboreslr/">Instagram</a> para confirmar.</p>
                <div class="img_descricao">
                    <img src="assets/IMG - 12.png" alt="Imagem da sobremesa">
                    <img src="assets/IMG - 13.png" alt="Imagem do suco">
                </div>
            </div>
        </div>
        <div class="botao">
            <button onclick="window.location.href='/reservas'">Reserve já</button>
        </div>
    </div>
</section>