<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" type="text/css" href="layout.css">
    <title>Somando Sabores</title>
</head>
<body>

    <!-- Agrupa os elementos que compõe o cabeçalho. -->
    <header>

        <!-- <h1>Somando Sabores</h1> -->

        <a href="matheus archives/LOGO.jpeg" id="logo">Logo</a>

		<button id="openMenu">&#9776;</button>

		<!-- Agrupa links de navegação no site. -->
		<nav id="menu">

			<button id="closeMenu">X</button>

            <a href="../PagAddUser/userFormulario.html">Reservar Refeição</a>
			<a href="../index/index.html">Home</a>
			<a href="#">About</a>
			<a href="#">Products</a>
			<a href="">Contact</a>
		</nav>

    </header>

    <!-- Agrupa o conteúdo principal da página ou aplicação. -->
	<main>Main</main>

	<!-- Agrupa informações e links relacionado ao conteúdo principal. -->
	<aside>Aside</aside>

	<!-- Agrupa informações de autoria, direitos autorais, contato, 
		   mapa do site, links e documento relacionados. -->
	<footer>Footer</footer>

	<!-- Importação do arquivo JavaScript. -->
	<script type="text/javascript" src="script.js"></script>

</body>
</html>