<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="layout.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@0;1&family=IM+Fell+English:ital@0;1&display=swap"
		rel="stylesheet">
	<title>Somando Sabores</title>
</head>

<body>
	<header>
		<img src="/view/images/logo.png" alt="Logo Imagem">
		<nav>
			<ul>
				<li>Home</li>
				<li>Reservas</li>
				<li>Pacotes</li>
				<li>Cardapios</li>
				<li>Eventos</li>
			</ul>
		</nav>
	</header>
	<div class="banner">
		<img src="/view/images/Banner.png" alt="banner do Restaurante">
	</div>
	<section class="destaques">
		<h2>Destaques</h2>
		<hr>
		<div class="carousel-container">
			<div class="carousel">
				<div class="carousel-item"><img src="/view/images/IMG - 1.png" alt="Imagem 1"></div>
				<div class="carousel-item"><img src="/view/images/IMG - 2.png" alt="Imagem 2"></div>
				<div class="carousel-item"><img src="/view/images/IMG - 3.png" alt="Imagem 3"></div>
				<div class="carousel-item"><img src="/view/images/IMG - 4.png" alt="Imagem 4"></div>
				<div class="carousel-item"><img src="/view/images/IMG - 5.png" alt="Imagem 5"></div>
				<div class="carousel-item"><img src="/view/images/IMG - 6.png" alt="Imagem 6"></div>
				<div class="carousel-item"><img src="/view/images/IMG - 7.png" alt="Imagem 7"></div>
				<div class="carousel-item"><img src="/view/images/IMG - 8.png" alt="Imagem 8"></div>
				<div class="carousel-item"><img src="/view/images/IMG - 9.png" alt="Imagem 9"></div>
			</div>
		</div>
	</section>
	<section class="sobre">
		<h2>Sobre Nós</h2>
		<hr>
		<div class="comtainer_textoQs">
			<img src="/view/images/tortas.png" alt="imagem de tortas">
			<div class="texto_quemSomos">
				<h3>QUEM SOMOS?</h3>
				<p>
					Nós somos o restaurante Somando Sabores localizado dentro do campus do UNASP. O 
					 regime alimentar do nosso restaurante é exclusivamente ovolactovegetariano e, agora, 
					  você pode reservar 
					 suas refeições de fim de semana por aqui de maneira mais prática.Conferindo de 
					  antemão nosso cardápio, 
					 nossos valores e o que está incluso no pacote de refeições. Lembrando que não fazemos 
					  vendas de refeições 
					 no sábado, portanto, caso queira nos visitar este dia terá que fazer sua reserva de 
					  domingo até quinta-
					 feira às 12h. Esperamos vocês!
				</p>
				<button>Faça sua reserva</button>
			</div>
		</div>
	</section>
	<footer>
		<h2>VENHA NOS VISITAR!</h2>
		<div class="content">
			<div class="info">
				<p>Estrada de Itapecerica, 5859(dentro do Unasp) <br>
					São Paulo, SP - 05890-020 <br> <br>

					Segunda à Sexta - 11:30 às 14:00 <br>
					Sábado e Domingo - 11:30 às 13:15
				</p>
				<div class="icons">
					<img src="/view/images/instagram.png" alt="Instagram">
					<img src="/view/images/telefone.png" alt="Phone">
					<img src="/view/images/localizacao.png" alt="Location">
					<p>© 2024 por Somando Sabores</p>
				</div>
			</div>
			<div class="location">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.26196298873!2d-46.783585925433826!3d-23.666588065465053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce53af46420527%3A0xeb99ed9009f47af6!2sUNASP%20SP!5e0!3m2!1spt-BR!2sbr!4v1732120138103!5m2!1spt-BR!2sbr"
					width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</footer>
</body>

</html>