<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" type="text/css" href="layout.css">
    <title>Somando Sabores</title>
</head>
<body>

    <!-- Agrupa os elementos que compõe o cabeçalho. -->
    <header>

        <!-- <h1>Somando Sabores</h1> -->

        <a href="" id="logo"><img src = "/view/images/logo.png" id="imageLogo"></a>

		<button id="openMenu">&#9776;</button>

		<!-- Agrupa links de navegação no site. -->
		<nav id="menu">

			<button id="closeMenu">X</button>

            <a href="../PagAddUser/userFormulario.html">Reservar Refeição</a>
			<a href="../index/index.html">Home</a>
			<a href="#">About</a>
			<a href="#">Products</a>
			<a href="">Contact</a>
		</nav>

    </header>

    <!-- Agrupa o conteúdo principal da página ou aplicação. -->
	<main >
		<div class = "rolada">

			<div id="banner">
				<img src="/view/images/Banner.png" alt="Banner com logotipo"  id = "banner">
			</div>
			
		
			<div class="container">
				<div class="slider-wrapper">
					<button id="prev-slide" class="slide-button material-symbols-rounded">
						chevron_left
					  </button>
					<div class = "image-list">
						<img src="/view/images/IMG - 1.png" alt="Imagem 1" class = "image-item">
						<img src="/view/images/IMG - 2.png" alt="Imagem 2" class = "image-item">
						<img src="/view/images/IMG - 3.png" alt="Imagem 3" class = "image-item">
						<img src="/view/images/IMG - 4.png" alt="Imagem 4" class = "image-item">
						<img src="/view/images/IMG - 5.png" alt="Imagem 5" class = "image-item">
						<img src="/view/images/IMG - 6.png" alt="Imagem 6" class = "image-item">
						<img src="/view/images/IMG - 7.png" alt="Imagem 7" class = "image-item">
						<img src="/view/images/IMG - 8.png" alt="Imagem 8" class = "image-item">
						<img src="/view/images/IMG - 9.png" alt="Imagem 9" class = "image-item">
					</div>
					<button id="next-slide" class="slide-button material-symbols-rounded">
						chevron_right
					  </button>
				</div>
				<div class="slider-scrollbar">
					<div class="scrollbar-track">
						<div class="scrollbar-thumb">

						</div>

					</div>
				</div>

			</div>

		</div>
		
	
	
	
	
	</main>

	<footer>Footer</footer>

	<!-- Importação do arquivo JavaScript. -->
	<script type="text/javascript" src="script.js"></script>

</body>
</html>