* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    margin: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #d0c45f;
}

header, nav, main, aside, footer {
    background: #E4DC9E;
    display: flex;
    margin: 3px;

}

header {
    flex: 1 1 100vw;
}
#banner {
    width: 100%;
    height: auto;
    margin: 3px 0; /* Space above and below the banner */
    display: flex;
    justify-content: center;
    align-items: center;
}
#imageLogo {
    width: 150%;
    height: auto;
    max-width: 180px;
    max-height: 110px;
    object-fit: contain;
}

header #logo {

    display: flex;
    flex: 90px 1 90px;
    background: #4f494900;
    justify-content: center;
    align-items: center;
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px;
    cursor: pointer;
    display: none;
}

nav {
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 200px;
}

nav a {
    margin: 0 3%;
    font-size: 15pt;
}

main {
    flex: 20 1 500px
}



footer {
    flex: 1 1 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 717px) {
    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }

    nav a {
        margin: 3%;
		
    }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.carousel-container {
    width: 80%;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
	padding: 0px 100px 0px 50px;
}

.carousel-item img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

/* Para adicionar scroll horizontal */
.carousel-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    scroll-snap-align: start;
}

.rolada {
	display: flex;
	flex-direction: column;
}