@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

.main{
    display: flex;
}

.margem{
    width: 85.62vw;
    margin-left: 14.38vw;
}

header{
    max-width: 95%;
    margin-inline: auto;
    margin-block: 7vh;
}

h1 {
    font-family: "IM Fell English", serif;
    font-weight: 400;
    color: #0F2614;
    font-size: 2.25em;
    margin-bottom: 0;
}

hr{
    background-color: #1C4D26;
    height: 1.5px;
    border: none;
}

// Modal
.confirmacao-modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex; justify-content: center; align-items: center;
    z-index: 999;
}

.conteudo-modal {
    background: white;
    width: 25%;
    height: 25%;
    border-radius: 8px;
    box-shadow: 0 0 10px #00000055;
    text-align: center;
}

.conteudo-modal p{
    font-family: "IM Fell English", serif;
    font-weight: 400;
    color: #0F2614;
    font-size: 1.2em;
    margin-bottom: 1.2vh;
}

.btn-section{
    margin-top: 12%;
    margin-inline: auto;
    width: 60%;
    height: 15%;
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 40%;
    height: 100%;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-family: "IM Fell English", serif;
    font-weight: 400;
}

.danger{
    background-color: #9c1713;
}

.normal{
    background-color: #0F2614;
}

.btn:hover{
    cursor: pointer;
}