<div class="registro">
    <div class="circle"></div>
    <mat-icon class="icons" id="person">person</mat-icon>
    <section class="texto">
        <div class="titulos">
            <span>Nome do Aluno</span>
            <span>E-mail</span>
            <span>Registro do Aluno</span>
            <span>Qtd.Pacotes</span>
        </div>
        <div class="data">
            <span [innerText]="aluno">[ALUNO]</span>
            <span [innerText]="email">[E-MAIL]</span>
            <span [innerText]="ra">[RA]</span>
            <span [innerText]="qtd_pacotes">[QTD. PACOTES]</span>
        </div>
    </section>
    <div class="icons">
        <mat-icon>edit</mat-icon>
        <mat-icon id="delete">delete_outline</mat-icon>
    </div>
</div>
