<div class="registro">
    <div class="status"></div>
    <section class="texto">
        <div class="titulos">
            <span>Responsável</span>
            <span>E-mail</span>
            <span>Qtd. Convidados</span>
            <span>Data</span>
        </div>
        <div class="data">
            <span>[NOME]</span>
            <span>[E-MAIL]</span>
            <span>[QTD. CONVIDADOS]</span>
            <span>[DATA]</span>
        </div>
    </section>
    <div class="icons">
        <mat-icon>edit</mat-icon>
        <mat-icon id="delete">delete_outline</mat-icon>
    </div>
</div>
