<div class="registro">
    <mat-icon class="icons circle">expand_more</mat-icon>
    <section class="texto">
        <div class="titulos">
            <span>Responsável</span>
            <span>E-mail</span>
            <span>Qtd. Convidados</span>
            <span>Data</span>
        </div>
        <div class="data">
            <span [innerText]="responsavel">[NOME]</span>
            <span [innerText]="email">[E-MAIL]</span>
            <span [innerText]="qtd_convidados">[QTD. CONVIDADOS]</span>
            <span [innerText]="data_reserva">[DATA]</span>
        </div>
    </section>
    <div class="icons">
        <mat-icon>edit</mat-icon>
        <mat-icon id="delete">delete_outline</mat-icon>
    </div>
</div>
