@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

.convidados-area{
    max-width: 95%;
    margin-inline: auto;
    background-color: #D9D9D9;
}

.convidados-data{
    height: 50px;
    width: 47vw;
    margin-inline: 7.8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    font-family: "IM FELL English", "serif";
    font-size: 0.9em;
}