@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

/*Estilização da estrutura da barra lateral*/
.container{
    height: 100vh;
    width: 14.38vw;
    display:flex;
    flex-direction: column;
    background-color: #1C4D26;
    padding:0;
}

.main-content{
    width:100%;
    max-height: 60%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 30vh;
    text-align: center;
}

.line{
    color: #fff;
    width: 90%;
}

#adm-logo{
    margin-top: 12.5%;
    margin-bottom: 2.5%;
}

/* Estilização dos botões da barra lateral*/
.sidebar-btn{
    width: 100%;
    height: 86px;
    background-color: #1C4D26;
    border: none;
}

.sidebar-btn:hover {
    cursor: pointer;
    background-color: #0B6623;
    transition-delay: 0.03ms;
}

.sidebar-btn:hover span{
    color: #F3EAAF;
}

.sidebar-btn span{
    font-family: "IM Fell English", serif;
    font-weight: 400;
    color: #fff;
    font-size: 1.5em;
    text-wrap: wrap;
}