<mat-toolbar class="container">
    <header>
        <img src="Logo-2.png" alt="Logo" id="adm-logo"/>
        <hr class="line">       
    </header>
    <div class="main-content">
            <button class="sidebar-btn" routerLink="/admin-panel">
                <span>Relatórios</span>
            </button>
            <button class="sidebar-btn" routerLink="/admin-panel/reservas">
                <span>Reservas</span>
            </button>
            <button class="sidebar-btn" routerLink="/admin-panel/pacotes">
                <span>Pacotes</span>
            </button>
            <button class="sidebar-btn" routerLink="/admin-panel/eventos">
                <span>Eventos</span>
            </button>
            <button class="sidebar-btn" routerLink="/admin-panel/pagamentos">
                <span>Pagamentos processados</span>
            </button>
        </div>
</mat-toolbar>
