<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Concluir Compra</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  </head>

  <body>
    <header class="header">
      <img id="logo" src="LOGO.jpeg" />
      <button id ="Home_botao"><a href="home.html" id="Home">Home</a></button>
    </header>

      <h3 id="Texto_Reserva">Reserva Concluída!</h3>

      <h4 id="Texto_Reserva2">Em breve enviaremos um email de confirmação com os dados de sua reserva.</h4>

      <button id="Fazer_Reserva"> <a href="home.html" id="Fazer_Reserva_link">Fazer outra reserva</a></button>
