<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=IM+Fell+English" />

  <body>
    <header class="header_home">
      <button><a href="sobre.html" class="Sobre" id="Sobre">Sobre</a>
      </button>
      <button>
        <a href="cardapio_sabado.html" class="Reservar" id="Reservar">Reservar Refeição</a>
      </button>
    </header>
    <img id="logo" src="LOGO.jpeg" id="Imagem"/>
  </body>
</html>
